html,body,.main-container,.header-component{
	background-color: #DDDABF !important;
}
.main-container {
    width: 980px;
    margin: 0 auto;
}

body {
    /*font-size: 15px;*/
}
#authmenu {
    /*background-color:#e8e8e8;*/
    border-bottom: 2px solid black;
}
#ul_menu {
    margin:0px;
    display:inline-block;
    padding-left:10px;
}
.li_menu {
    display:inline-block;
    list-style-type:none;
    margin: 2px 5px;
    font-weight: bold;
    padding: 3px;
}
.a_menu {
    text-decoration:none;
    color: #000000;
    }
#ul_right {
    float: right;
    margin: 0;
}
#auth_mainMenu {
    margin-top: 40px;
}
.auth-mainmenu {
    font-size: 15px;
}
/*login and register page css*/
.login-container{
	max-width: 330px;
	margin: 30px auto;
	background-color: #f2f2f2;
	padding: 30px;
}
.login-form input,.login-form button,.registration-form input,.registration-form button{
	margin-bottom: 10px;
}
.login-form h2,registration h2{
	margin-top: 0px;
}